<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal's Node</title>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="<%= CSS %>">
    <link rel="stylesheet" href="/CSS/footer.css">
</head>
<body>
    </section>
    <section id="nav-bar">
        <nav>
            <ul>
                <li><a href="/"><img src="assets/NPM_Logo.png" alt="Logo"></a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/dashboard">Your Notes</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </section>