<%- include('partials/header') %>

   <section id="userNote">
    <section id="well_being">
        Hello
    </section>
    <section id="note_form">
        <form action="dashboard" method="POST">
            <textarea name="note" id="note" placeholder="what's solicitud my mind." required>
            </textarea>
        <button type="submit">Keep Note.</button>
        </form>

    </section>

   </section>
    
<%- include('partials/footer') %>