<%- include('partials/header') %>

<section id="motto">
    <h1>
        <img src="/assets/dontForget.jpeg" alt="motto">
        Be mindful of the fact!
    </h1>
</section>

<section id="note_topics">
    <article>
        <img class="note-img" src="assets/take_a_Note.jpg" alt="homeImage">

        <section id="main_topics">
            <h1>
                How Unconscious Thought and Perception Affect Our Every Waking Moment
            </h1>

            <h3>
                Unconscious impulses and desires impel what we think and do in ways Freud never dreamed of
            </h3>

            <p>
                When psychologists try to understand the way our mind works, they frequently come to a conclusion that may seem startling:
                people often make decisions without having given them much thought—or, more precisely, before they have thought about them consciously.
                When we decide how to vote, what to buy, where to go on vacation and myriad other things, unconscious thoughts that we are not even aware of
                typically play a big role. Research has recently brought to light just how profoundly our unconscious mind shapes our day-to-day interactions.
            </p>

            <a href="https://www.scientificamerican.com/" target="_blank">read more</a>
        </section>
    </article>
</section>

<%- include('partials/footer') %>