<%- include('partials/header') %>

    <!-- </section>
    <section id="nav-bar">
        <nav>
            <ul>
                <li><a href="/"><img src="assets/NPM_Logo.png" alt="Logo"></a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/dashboard">Your Notes</a></li>
            </ul>
        </nav>
    </section> -->
    <section id="motto">
        <h1><img src="/assets/dontForget.jpeg" alt="motto">
            Be mindful of the fact!
        </h1>

        <%- include('partials/footer') %>