/* Color uses : https://colorhunt.co/ */
/* Navbar container */



/* Motto logo styling */
#motto {
    display: flex;
    flex-direction: column; /* Stack image and text */
    justify-content: center; /* Center contents */
    align-items: center; /* Align everything in center */
    text-align: center;
    height: 200px; /* Adjust as needed */
}

#motto h1 {
    text-align: center; /* Center text */
    color: #7D0A0A;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: oblique;
}

#motto img {
    height: 50px;
    width: auto;
}