<%- include('partials/header') %>

<!-- Main Content Section -->
<main>
<!--use "home-banner" to style welcome section element.-->
    <section id="home-banner">
        <h1>Welcome to SureNeed</h1>
        <p>Your one-stop shop for all your needs!</p>
        <a href="/shop" class="start-shopping">Start Shopping</a>
    </section>

    <!-- Highlighted Categories or Items -->
    <section id="highlighted-categories">
        <h2>Explore Categories</h2>
        <div class="categories-container">
            <div class="category">
                <img src="/assets/electronic.jpeg" alt="Category 1" />
                <p>Electronics</p>
            </div>
            <div class="category">
                <img src="/assets/fashion.jpeg" alt="Category 2" />
                <p>Fashion</p>
            </div>
            <div class="category">
                <img src="/assets/life-scene.jpg" alt="Category 3" />
                <p>Home & Living</p>
            </div>
        </div>
    </section>
</main>

<%- include('partials/footer') %>
