<%- include('partials/header') %>



<!--Shopping items-->
<section id="shop-container">
    <h1>Shop Now</h1>
    <ul id="item-list">
    <!--placeholder for items-->
    <li>
        <img src="/assets/LaptopBag.jpg" alt="Laptop Bag" >
        <h3>Name</h3>
        <p>Price: $ ?</p>
        <p>Categories</p>
        <button>Add To Cart</button>
    </li>
    <li>
        <img src="/assets/businessBag.jpg" alt="Laptop Bag" >
        <h3>Name</h3>
        <p>Price: $ ?</p>
        <p>Categories</p>
        <button>Add To Cart</button>
    </li>
    <li>
        <img src="/canvas shoes.jpg" alt="Laptop Bag" >
        <h3>Name</h3>
        <p>Price: $ ?</p>
        <p>Categories</p>
        <button>Add To Cart</button>
    </li>

    </ul>

</section>










<%- include('partials/footer') %>